<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--    местные стили из файла CSS-->
    <link rel="stylesheet" href="../static/css/test.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/userPageInfo.js"></script>

    <div class="container-fluid" a>
        <title>Login page</title>
    </div>
    <title>Admin panel</title>
</head>


<body>


<div class="p-3 mb-2 bg-dark text-white">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-11">
                <strong id="UserEmailInPage"><label></label></strong>
                with roles:
                <label id="UserRolesInPage"><span></span></label>
            </div>
            <div class="col-sm-1" align="right">
                <a href="#" th:href="@{/logout}" class="btn-outline-secondary">Logout</a>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 p-sm-0 m-sm-0">
            <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="nav2" data-toggle="pill" href="/user" role="tab"
                   aria-controls="UserMainPage" aria-selected="true">User</a>
            </div>
        </div>
        <div class="col-sm-10 p-sm-0" id="rightPanel">
            <div class="p-3 mb-2 bg-light text-dark vh-100">
                <h2>User information page</h2>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <h5>About user</h5>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row" class="container-fluid bg-white ">
                                    <table class="table table-striped" id="UserInfoInPage">
                                        <thead>
                                        <tr>
                                            <th scope="col">ID</th>
                                            <th scope="col">User first Name</th>
                                            <th scope="col">User last name</th>
                                            <th scope="col">User email address</th>
                                            <th scope="col">User age</th>
                                            <th scope="col">Role</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>